<div ng-include="'views/template/nav.html'"></div>

<div class='container'>

    <h1>Setup</h1>


  <div class='panel panel-default'>
    <div class='panel-heading'>Admin</div>
    <div class='panel-body'>
      <p class='lead'>Please create an admin user.</p>

      <div class='form-group'>
        <label class='control-label'>E-mail Address</label>
        <input type='email' name='email' placeholder='email' class='form-control'>
      </div>

    
    </div>
  </div> <!-- /.panel -->

</div>
